@model IEnumerable<CardTypeViewModel>

@{
    ViewData["Title"] = "Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.TypeName</h1>
@if (Model.Any())
{
    <a asp-action="Create" asp-controller="TemplateCards" class="btn btn-info my-3"><i class='bx bxs-add-to-queue'></i>Create New</a>
    <div class="card">
        <h5 class="card-header">Template Card</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Title)</th>
                        <th> @Html.DisplayNameFor(model => model.Price)</th>
                        <th> @Html.DisplayNameFor(model => model.TemplateCardStatus)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <a asp-action="Details" asp-controller="TemplateCards" asp-route-id="@item.TemplateId">@Html.DisplayFor(modelItem => item.Title)</a></td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td><span class="badge bg-label-@(item.TemplateCardStatus == 1? "success":"danger") me-1">@(item.TemplateCardStatus == 1? "Active":"Deactive")</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="Edit" asp-controller="TemplateCards" asp-route-id="@item.TemplateId"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                        <span class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalCenter"><i class="bx bx-trash me-1"></i>Delete</span>
                                    </div>
                                </div>
                                <!-- Modal -->
                        <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <form asp-action="Delete" asp-controller="TemplateCards">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalCenterTitle">Delete Card Template</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <span>Are you sure you want to Delete?</span>
                                                        <input type="hidden" name="id" asp-for="@item.TemplateId" />
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Yes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="mt-4 d-flex align-items-center flex-column">
        <img src="~/assets/img/illustrations/girl-doing-yoga-light.png" alt="girl-doing-yoga-light" width="500" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png">
        <p class="mb-2 mx-2"> Template Card is not created yet !</p>
        <a asp-action="Create" asp-controller="TemplateCards" class="btn btn-info"><i class='bx bxs-add-to-queue'></i>Create Now</a>
    </div>

}
<div>
    <a asp-action="Index" class="btn my-3 btn-primary"><i class='bx bx-arrow-back'></i>Back to List</a>
</div>

