@model IEnumerable<App.DAL.Models.CardType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <h1>Index</h1>

    <a asp-action="Create" class="btn btn-primary">Create New</a>
@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@

<div class="row mb-5">
     @foreach (var item in Model)
        {
    <div class="col-md">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="card-img card-img-left" src="../assets/img/elements/17.jpg" alt="Card image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.TypeName</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                            This content is a little bit longer.
                        </p>
                        <p class="card-text"><small class="text-muted">@item.Status</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
</div>
