@model IEnumerable<App.DAL.Models.CardType>
@using Humanizer
@{
    ViewData["Title"] = "Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>

<a asp-action="Create" class="btn btn-info my-3"><i class='bx bxs-add-to-queue' ></i>Create New</a>
<div class="row mb-5">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between align-items-center">
                         <a class="card-title my-0" asp-action="Details" asp-route-id="@item.TypeId">@item.TypeName</a>
                         <p class="card-subtitle text-muted my-0">updated @(item.UpdatedAt.GetValueOrDefault().AddHours(-7).Humanize())</p>
                     </div>
                    <p class="card-text">@item.Detail</p>
                    <a asp-action="Edit" asp-route-id="@item.TypeId" class="btn btn-primary">Edit</a>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modalCenter" class="btn btn-danger mx-4">Delete</button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form asp-action="Delete">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Delete Card Types</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <span>Are you sure you want to Delete?</span>
                                 <input type="hidden" name = "id" value="@item.TypeId"/>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type ="submit" class="btn btn-primary">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

